@using project_finall.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>project_finall | </title>

    <!-- Bootstrap -->
    <link href="~/Areas/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Areas/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/Areas/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/Areas/vendors/iCheck/skins/flat/green.css" rel="stylesheet">

    <!-- bootstrap-progressbar -->
    <link href="~/Areas/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="~/Areas/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="~/Areas/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="~/Areas/build/css/custom.min.css" rel="stylesheet">

</head>

<body class="nav-md">
    @{
        <div class="container body">
            <div class="main_container">
                <div class="col-md-3 left_col">
                    <div class="left_col scroll-view">
                        <div class="navbar nav_title" style="border: 0;">
                            <a href="@Url.Action("Index","Dashboard")" class="site_title"> <span>project_finall</span></a>
                        </div>

                        <div class="clearfix"></div>

                        <!-- menu profile quick info -->
                        @foreach (project_finall.Models.Database.Account account in Commoncs.GetAccounts())
                        {

                            <div class="profile clearfix">
                                <div class="profile_pic">
                                    <img src="@account.img" alt="..." class="img-circle profile_img">
                                </div>
                                <div class="profile_info">
                                    <span>Welcome,</span>
                                    <h2>@account.Username</h2>
                                </div>
                            </div>
                        }
                        <!-- /menu profile quick info -->

                        <br />

                        <!-- sidebar menu -->
                        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                            <div class="menu_section">
                                <h3>General</h3>
                                <ul class="nav side-menu">
                                    <li>
                                        <a href="@Url.Action("Index","Dashboard")">
                                            <i class="fa fa-home"></i>
                                            Dashboad
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <i class="fa fa-book"></i>Articles
                                        </a>
                                        <ul class="nav child_menu">
                                            <li><a href="@Url.Action("Index","Articles")">New Articles</a></li>
                                            <li><a href="@Url.Action("List_Article", "Articles", new {IsActive=1})">Articles are moderated</a></li>
                                            <li><a href="@Url.Action("List_Article","Articles",new {IsActive=0})">Posts are forbidden</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a>
                                            <i class="fa fa-pencil "></i> Project
                                        </a>
                                        <ul class="nav child_menu">
                                            <li><a href="@Url.Action("Index","Product")">New Project</a></li>
                                            <li><a href="@Url.Action("ProductType","Product")">Type Project</a></li>
                                            <li><a href="@Url.Action("ListProduct","Product")">List Of Project</a></li>

                                        </ul>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index","Personnel")">
                                            <i class="fa fa-users "></i> Personnel
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <i class="fa fa-pencil "></i> Project
                                        </a>
                                        <ul class="nav child_menu">
                                            <li><a href="@Url.Action("PhongThuy", "Articles")">Phong Thủy</a></li>
                                            <li><a href="@Url.Action("List_PhongThuy", "Articles", new {IsActive=1})">Articles are moderated</a></li>
                                            <li><a href="@Url.Action("List_PhongThuy","Articles",new {IsActive=0})">Posts are forbidden</a></li>
                                        </ul>
                                    </li>
                                   


                                </ul>
                            </div>

                        </div>
                        <!-- /sidebar menu -->
                        <!-- /menu footer buttons -->
                        <div class="sidebar-footer hidden-small">

                            <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                            </a>
                        </div>
                        <!-- /menu footer buttons -->
                    </div>
                </div>

                <!-- top navigation -->
                <div class="top_nav">
                    @foreach (project_finall.Models.Database.Account account in Commoncs.GetAccounts())
                    {
                        <div class="nav_menu">
                            <nav>
                                <div class="nav toggle">
                                    <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                                </div>

                                <ul class="nav navbar-nav navbar-right">
                                    <li class="">
                                        <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <img src="@account.img" alt="">@account.Username
                                            <span class=" fa fa-angle-down"></span>
                                        </a>
                                        <ul class="dropdown-menu dropdown-usermenu pull-right">

                                            <li><a href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                                        </ul>
                                    </li>

                                    <li role="presentation" class="dropdown">
                                        <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                            <i class="fa fa-envelope-o"></i>
                                            <span class="badge bg-green">6</span>
                                        </a>
                                        <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                            <li>
                                                <a>
                                                    <span class="image"><img src="~/Areas/images/img.jpg" alt="Profile Image" /></span>
                                                    <span>
                                                        <span>John Smith</span>
                                                        <span class="time">3 mins ago</span>
                                                    </span>
                                                    <span class="message">
                                                        Film festivals used to be do-or-die moments for movie makers. They were where...
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a>
                                                    <span class="image"><img src="~/Areas/images/img.jpg" alt="Profile Image" /></span>
                                                    <span>
                                                        <span>John Smith</span>
                                                        <span class="time">3 mins ago</span>
                                                    </span>
                                                    <span class="message">
                                                        Film festivals used to be do-or-die moments for movie makers. They were where...
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a>
                                                    <span class="image"><img src="~/Areas/images/img.jpg" alt="Profile Image" /></span>
                                                    <span>
                                                        <span>John Smith</span>
                                                        <span class="time">3 mins ago</span>
                                                    </span>
                                                    <span class="message">
                                                        Film festivals used to be do-or-die moments for movie makers. They were where...
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a>
                                                    <span class="image"><img src="~/Areas/images/img.jpg" alt="Profile Image" /></span>
                                                    <span>
                                                        <span>John Smith</span>
                                                        <span class="time">3 mins ago</span>
                                                    </span>
                                                    <span class="message">
                                                        Film festivals used to be do-or-die moments for movie makers. They were where...
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <div class="text-center">
                                                    <a>
                                                        <strong>See All Alerts</strong>
                                                        <i class="fa fa-angle-right"></i>
                                                    </a>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    }
                </div>
                <!-- /top navigation -->


                @RenderBody()


                <!-- footer content -->
                <footer>
                    <div class="pull-right">

                    </div>
                    <div class="clearfix"></div>
                </footer>
                <!-- /footer content -->
            </div>
        </div>
    }
    <!-- jQuery -->
    <script src="~/Areas/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Areas/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/Areas/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/Areas/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="~/Areas/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="~/Areas/vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="~/Areas/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="~/Areas/vendors/iCheck/icheck.min.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/Areas/vendors/moment/min/moment.min.js"></script>
    <script src="~/Areas/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap-wysiwyg -->
    <script src="~/Areas/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
    <script src="~/Areas/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
    <script src="~/Areas/vendors/google-code-prettify/src/prettify.js"></script>
    <!-- jQuery Tags Input -->
    <script src="~/Areas/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
    <!-- Switchery -->
    <script src="~/Areas/vendors/switchery/dist/switchery.min.js"></script>
    <!-- Select2 -->
    <script src="~/Areas/vendors/select2/dist/js/select2.full.min.js"></script>
    <!-- Parsley -->
    <script src="~/Areas/vendors/parsleyjs/dist/parsley.min.js"></script>
    <!-- Autosize -->
    <script src="~/Areas/vendors/autosize/dist/autosize.min.js"></script>

    <!-- Skycons -->
    <script src="~/Areas/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="~/Areas/vendors/Flot/jquery.flot.js"></script>
    <script src="~/Areas/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="~/Areas/vendors/Flot/jquery.flot.time.js"></script>
    <script src="~/Areas/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="~/Areas/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="~/Areas/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="~/Areas/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="~/Areas/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="~/Areas/vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="~/Areas/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="~/Areas/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="~/Areas/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- Datatables -->
    <script src="~/Areas/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Areas/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Areas/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Areas/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Areas/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/Areas/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Areas/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Areas/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/Areas/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/Areas/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Areas/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/Areas/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="~/Areas/vendors/jszip/dist/jszip.min.js"></script>
    <script src="~/Areas/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/Areas/vendors/pdfmake/build/vfs_fonts.js"></script>
    
    <!-- bootstrap-daterangepicker -->
    <script src="~/Areas/vendors/moment/min/moment.min.js"></script>
    <script src="~/Areas/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="~/Areas/build/js/custom.min.js"></script>

    @section ScriptJS
    {
        <script>

            jQuery(document).ready(function ($) {
                'use strict';

                // ==============================================================
                // Notification list
                // ==============================================================
                if ($(".notification-list").length) {

                    $('.notification-list').slimScroll({
                        height: '250px'
                    });

                }

                // ==============================================================
                // Menu Slim Scroll List
                // ==============================================================


                if ($(".menu-list").length) {
                    $('.menu-list').slimScroll({

                    });
                }

                // ==============================================================
                // Sidebar scrollnavigation
                // ==============================================================

                if ($(".sidebar-nav-fixed a").length) {
                    $('.sidebar-nav-fixed a')
                        // Remove links that don't actually link to anything

                        .click(function (event) {
                            // On-page links
                            if (
                                location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') &&
                                location.hostname == this.hostname
                            ) {
                                // Figure out element to scroll to
                                var target = $(this.hash);
                                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                                // Does a scroll target exist?
                                if (target.length) {
                                    // Only prevent default if animation is actually gonna happen
                                    event.preventDefault();
                                    $('html, body').animate({
                                        scrollTop: target.offset().top - 90
                                    }, 1000, function () {
                                        // Callback after animation
                                        // Must change focus!
                                        var $target = $(target);
                                        $target.focus();
                                        if ($target.is(":focus")) { // Checking if the target was focused
                                            return false;
                                        } else {
                                            $target.attr('tabindex', '-1'); // Adding tabindex for elements not focusable
                                            $target.focus(); // Set focus again
                                        };
                                    });
                                }
                            };
                            $('.sidebar-nav-fixed a').each(function () {
                                $(this).removeClass('active');
                            })
                            $(this).addClass('active');
                        });

                }

                // ==============================================================
                // tooltip
                // ==============================================================
                if ($('[data-toggle="tooltip"]').length) {

                    $('[data-toggle="tooltip"]').tooltip()

                }

                // ==============================================================
                // popover
                // ==============================================================
                if ($('[data-toggle="popover"]').length) {
                    $('[data-toggle="popover"]').popover()

                }
                // ==============================================================
                // Chat List Slim Scroll
                // ==============================================================


                if ($('.chat-list').length) {
                    $('.chat-list').slimScroll({
                        color: 'false',
                        width: '100%'


                    });
                }
                // ==============================================================
                // dropzone script
                // ==============================================================

                //     if ($('.dz-clickable').length) {
                //            $(".dz-clickable").dropzone({ url: "/file/post" });
                // }

            }); // AND OF JQUERY


                                                            // $(function() {
                                                            //     "use strict";




                                                            // var monkeyList = new List('test-list', {
                                                            //    valueNames: ['name']

                                                            // });
                                                            // var monkeyList = new List('test-list-2', {
                                                            //    valueNames: ['name']

                                                            // });






                                                            // });
        </script>
    }

    @RenderSection("ScriptJS", false)
</body>
</html>
