@model project_finall.Models.Database.Type_Product
@using project_finall.Models;
@{
    ViewBag.Title = "Type_Projects";
    Layout = "~/Views/Shared/_Layout3.cshtml";
    project_finall.Models.Database.Type_Product p = ViewData["getTypeProduct"] as project_finall.Models.Database.Type_Product;


}
<div class="hero page-inner overlay"
     style="background-image: url('/img/hero_bg_1.jpg')">
    <div class="container">

        <div class="row justify-content-center align-items-center">
            <div class="col-lg-9 text-center mt-5">
                <h1 class="heading" data-aos="fade-up">@p.Name_Type_Product</h1>

                <nav aria-label="breadcrumb"
                     data-aos="fade-up"
                     data-aos-delay="200">

                </nav>
            </div>
        </div>
    </div>
</div>


<div class="section section-properties">
    <div class="container">
        <div class="row">
            @{
                foreach (project_finall.Models.Database.Product x in Commoncs.getProductByType_Product(p.Id_Type_Product))
                {
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                        <div class="property-item mb-30">
                            <a href="property-single.html" class="img">
                                <img src="@x.Img" alt="Image" class="img-fluid" style=" border-radius:10px 10px; width:350px;height:350px" />
                            </a>

                            <div class="property-content">
                                <div class="price mb-2"><span>@string.Format("{0:#,0}",@x.Gia)</span></div>
                                <div>
                                    <span class="d-block mb-2 text-black-50">@x.Name_Type_Product</span>
                                    <span class="city d-block mb-3">@x.Name_Products</span>

                                    <div class="specs d-flex mb-4">
                                     
                                    </div>

                                    <a href="@Url.Action("Projects_details","Projects", new {Id_Products=x.Id_Products})"
                                       class="btn btn-primary py-2 px-3">See details</a>
                                </div>
                            </div>
                        </div>
                        <!-- .item -->
                    </div>

                }
            }


        </div>

    </div>
</div>