@using project_finall.Areas.PrivatePage.Models

@{
    ViewBag.Title = "ListProduct";
    Layout = "~/Areas/PrivatePage/Views/Shared/_Layout.cshtml";
    List<project_finall.Models.Database.Product> ds = (List<project_finall.Models.Database.Product>)ViewData["listProduct"];
}

<!-- page content -->
<div class="right_col" role="main">

    <div class="">

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">

                    <div class="x_content">


                        <table  class="table table-striped table-bordered dt-responsive nowrap"
                               cellspacing="0" width="100%">
                            <thead>
                                <tr>

                                    <th>Name Product</th>
                                 
                                    <th>Image</th>
                                    <th>Type</th>
                                    <th>Summary Content</th>
                                    <th>Date Submitted</th>
                                    <th>Xxpense</th>
                                    <th>User</th>
                                   
                                    <th>Confirm</th>
                                    <th>Edit</th>
                                </tr>
                            </thead>
                            @foreach (project_finall.Models.Database.Product item in project_finall.Models.Commoncs.GetProducts())
                            {
                                <tbody>
                                    <tr>

                                        <td>@item.Name_Products</td>
                                        
                                        <td><img style="width:70px;height:70px" src="@item.Img" /> </td>
                                        <td>@item.Id_Type_Product</td>
                                        <td>@item.Summary_Content</td>
                                        <td>@string.Format("{0:hh:mm [dd/MM/yyyy]}", item.Date_Submitted)</td>
                                        <td>@string.Format("{0:#,0}", item.Gia)</td>
                                        <td> @item.Account.Username</td>
                                     
                                        <td>@item.DADUYET</td>

                                        <td>
                                            @using (Html.BeginForm("Active", "Product", FormMethod.Post))
                                            {
                                                <input type="hidden" name="ID_Article" value="@item.Id_Products" />
                                                <button class="btn btn-success btn-xs"><i class="fa fa-trash-o"></i> @ViewBag.tdButton</button>

                                            }

                                            <button class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </button>


                                            @using (Html.BeginForm("Deletes", "Product", FormMethod.Post))
                                            {
                                                <input type="hidden" name="ID_Article" value="@item.Id_Products" />
                                                <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </button>
                                            }

                                        </td>
                                    </tr>

                                </tbody>
                            }
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /page content -->
